[MESSAGES CONTROL]
disable=import-error,
        fixme,
        no-self-use,
        unused-argument,
        duplicate-code,
        too-many-arguments,
        too-many-locals,
        too-many-statements,
        too-many-branches,
        too-many-nested-blocks,
        too-many-public-methods,
        too-few-public-methods,
        no-value-for-parameter,
        line-too-long,
        super-with-arguments,
        broad-except,
        no-member,
        attribute-defined-outside-init,
        relative-beyond-top-level,
        wildcard-import,
        too-many-return-statements,
        unnecessary-pass,
        singleton-comparison,
        no-else-return,
        invalid-name,
        singleton-comparison,
        redefined-builtin,
        inconsistent-return-statements,
        redefined-outer-name,
        super-init-not-called,
        no-else-raise,
        binary-op-exception,
        pointless-statement,
        consider-using-enumerate,
[DESIGN]
max-attributes=12
